.studentlist {
    width: 900px;
    height: 100%;
    margin: auto;
}

.studentlist__cards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

@media (min-width: 360px) and (max-width: 767px) {
    .studentlist {
        width: 100%;
    }
}