.card {
    width: 33.3%;
    float: left;
}

.card__container {
    margin: 5px;
    min-height: 200px;
    background: #fbfbfb;
}
.card__header {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ededed;
}

.card__body {
    padding: 10px;
}

.card_close_button {
    width: 22px;
    height: 22px;
    padding: 5px;
    cursor: pointer;
    float: right;
    opacity: 0.3;
    overflow: hidden;
}
.card_close_button:hover {
    opacity: 1;
}

.card__body_buttons {
    text-align: center;
}
.card__body_controls {
    padding-bottom: 10px ;
}
.card__body_controls div {
    padding: 5px 10px 5px 0px;
}

@media (min-width: 461px) and (max-width: 767px) {
    .card {
        width: 50%;
    }
}

@media (min-width: 360px) and (max-width: 460px) {
    .card {
        width: 100%;
    }
}