.btn {
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.btn_blue {
    margin: 5px;
    background-color: #7553fb;
    color: #fff;
}

.btn_blue:hover {
    background-color: #9075f8;
    color: #fff;
}

.btn_red {
    margin: 5px;
    background-color: #ff232b;
    color: #fff;
}

.btn_red:hover {
    background-color: #ff333b;
    color: #fff;
}