.studentform__body_controls {
    padding-bottom: 10px ;
}

.studentform__body_controls div {
    padding: 5px 10px 5px 0px;
}

.studentform__body_controls div select {
    height: 34px;
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    border: 1px #e4e4e4 solid;
    background-color: #fff;
}

.studentform__body_controls .buttons {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

@media (min-width: 360px) and (max-width: 767px) {
    .input {
        width: 100%;
    }
}